body{
    background-color: rgba(6, 160, 250, 0.87);
   
}
li {
    background-color: rgba(6, 160, 250, 0.87);
}
div
{
background-color: rgb(0, 89, 255);
height: 600px;
width: 800px;
border: 5px solid rgb(0, 42, 255);
margin: 10px;
}

